.logo{
    font-size: 2.6rem;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* .fffs{
    background:url("https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg")
} */